<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
</head>
<body>
<h1>Calculadora</h1>
<form action="#" th:action="@{/calc}" th:object="${calculator}" method="get">
    <div>
        <label for="value1" class="form-label">Valor 1</label>
        <input class="form-control" type="text" th:field="*{value1}" id="value1" >
    </div>
    <div>
        <label for="value2" class="form-label">Valor 2</label>
        <input class="form-control" type="text" th:field="*{value2}" id="value2" >
    </div>
    <div>
        <button type="submit" name="operator" value="1">Somar</button>
        <button type="submit" name="operator" value="2">Subtrair</button>
    </div>
    <div>
    <div>
        <label th:text="'Resultado: ' + *{result}"></label>
    </div>
</form>
</body>
</html>